Flask
numpy
opencv-python-headless
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
scipy
scikit-learn
matplotlib
pandas

streamlit


Jinja2
joblib
gunicorn
kiwisolver
MarkupSafe
matplotlib
pandas
numpy
Pillow
pipreqs
pyparsing
python-dateutil
pytz
requests
six
threadpoolctl
urllib3


keras
tensorflow-cpu

scikit-image
